PYTHON DATA STRUCTURES

TUPLE 
is a collection of Python objects much like a list but Tuples are immutable in nature i.e. the elements in the tuple cannot be added or removed once created. Just like a List, a Tuple can also contain elements of various types.

In Python, tuples are created by placing a sequence of values separated by ‘comma’ with or without the use of parentheses for grouping of the data sequence.

Note: Tuples can also be created with a single element, but it is a bit tricky. Having one element in the parentheses is not sufficient, there must be a trailing ‘comma’ to make it a tuple.

In [66]:
tup1 = (1,"a",True,"b",23.0)
tup1

(1, 'a', True, 'b', 23.0)

We access elements in a tuple the same way we do in a list using indexing

In [67]:
tup1[0]

1

In [69]:
len(tup1)

5

:

We can use a list to create a tuple

In [3]:
list = [1, 2, 4, 5, 6]
tup2 = tuple(list)
tup2

(1, 2, 4, 5, 6)

Negataive Indexing which means accessing elements from behind

In [4]:
tup2[-1]

6

LISTS

Python Lists are just like the arrays, declared in other languages which is an ordered collection of data. It is very flexible as the items in a list do not need to be of the same type

We can initialize a list with value or an empty list.

In [27]:
numbers = [10,5,7,2,1,"number"]
numbers

[10, 5, 7, 2, 1, 'number']

Declaring an empty list

In [29]:
names = []
names

[]

INDICES IN LISTS

In [30]:
numbers[2]

7

REPLACING AN ELEMNENT WITH A NEW ELEMENT

In [31]:
numbers[0] = 100

In [32]:
numbers

[100, 5, 7, 2, 1, 'number']

In [33]:
numbers[5] = "EDUBE"

In [34]:
numbers

[100, 5, 7, 2, 1, 'EDUBE']

TO KNOW HOW MANY ELEMENTS ARE IN THE LIST

In [16]:
len(numbers)

6

OR WE WRITE PRINT

In [17]:
print(len(numbers))

6

COMBINING LOOPS WITH LIST

In [18]:
if(len(numbers)>3):
    print(numbers)

[100, 5, 7, 2, 1, 'EDUBE']

REMOVING AN ELEMENT FROM A LIST

WE USE THE del function

In [35]:
del numbers[2]

In [36]:
numbers

[100, 5, 2, 1, 'EDUBE']

WHEN WE WANT TO DELETE A RANGE OF VALUES WE USE del numbers[start:end]

In [37]:
del numbers[1:2]

In [38]:
print(len(numbers))

4

NEGATIVE INDICES

In [39]:
print(numbers)

[100, 2, 1, 'EDUBE']

In [40]:
print(numbers[-1])

EDUBE

TO ADD AN ELEMENT IN A LIST WE USE APPEND

In [41]:
names = ["HARRIET","EMMA","MABONGA","PANDE"]

In [43]:
names

['HARRIET', 'EMMA', 'MABONGA', 'PANDE']

In [44]:
names.append("EDUBE")

In [45]:
names

['HARRIET', 'EMMA', 'MABONGA', 'PANDE', 'EDUBE']

INSERTING AN ELEMENT IN A GIVEN POINT WITHOUT DELETING ANYTHING FROM THE LIST

In [47]:
names.insert(1,"JOY")

In [48]:
print(names)

['HARRIET', 'JOY', 'EMMA', 'MABONGA', 'PANDE', 'EDUBE']

USING THE WHILE LOOP

In [49]:
print(len(names))

6

In [50]:
while len(names) > 5:
    user_input = input("ENTER YOUR NAME: ")
#TERMINATE THE LOOP WHEN A USER ENTERS END
    if(user_input == "end"):
        print("The loop has ended")
        break
    print(f"Hi {user_input}")
    names.append(user_input)

Hi EDUBE EMMA
The loop has ended

In [51]:
print(names)

['HARRIET', 'JOY', 'EMMA', 'MABONGA', 'PANDE', 'EDUBE', 'EDUBE EMMA']

SLICING IN LISTS

In Python, list slicing is a common practice and it is the most used technique for programmers to solve efficient problems. Consider a Python list, in order to access a range of elements in a list, you need to slice a list. One way to do this is to use the simple slicing operator i.e. colon(:). With this operator, one can specify where to start the slicing, where to end, and specify the step. List slicing returns a new list from the existing list.

Python List Slicing Syntax
The format for list slicing is of Python List Slicing is as follows:

Lst[ Initial : End : IndexJump ]
If Lst is a list, then the above expression returns the portion of the list from index Initial to index End, at a step size IndexJump.

In [55]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
print(Lst)

[50, 70, 30, 20, 90, 10, 50]

In [59]:
# Initialize list
Lst = [50, 70, 30, 20, 90, 10, 50]
 
# Display list
print(Lst[1:5])

[70, 30, 20, 90]

In [57]:
# Initialize list
List = [1, 2, 3, 4, 5, 6, 7, 8, 9]
 
# Show original list
print("Original List:\n", List)
 
print("\nSliced Lists: ")
 
# Display sliced list
print(List[3:9:2])
 
# Display sliced list
print(List[::2])
 
# Display sliced list
print(List[::])

Original List:
 [1, 2, 3, 4, 5, 6, 7, 8, 9]

Sliced Lists:
[4, 6, 8]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

SORTING A LIST

In [62]:
class_names = ["bob","jerry","Mary","Maria","Marvin","Hellen","Liz","Nicks"]
class_attendence = ["Marvin","Hellen","Liz","bob"]
new_list = []
choped_names = []
if(len(class_attendence) < 20):
    for student in class_names:
        print(student)
        if(student in class_attendence):
            new_list.append(student)
            print(new_list)
        else:
            choped_names.append(student)
            print(choped_names)
print(new_list)
print(choped_names)

bob
['bob']
jerry
['jerry']
Mary
['jerry', 'Mary']
Maria
['jerry', 'Mary', 'Maria']
Marvin
['bob', 'Marvin']
Hellen
['bob', 'Marvin', 'Hellen']
Liz
['bob', 'Marvin', 'Hellen', 'Liz']
Nicks
['jerry', 'Mary', 'Maria', 'Nicks']
['bob', 'Marvin', 'Hellen', 'Liz']
['jerry', 'Mary', 'Maria', 'Nicks']